# Exploring Data

In [2]:
# importing libraries
import pandas as pd 
import numpy as np 
import pickle as pkl
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

/Users/0xnrous/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
data = pd.read_csv("./rent_apartments.csv")
data.head(10)

,address,area,constraction_year,rooms,bedrooms,bathrooms,balcony,storage,parking,furnished,garage,garden,energy,facilities,zip,neighborhood,rent
0,1071 HN Amsterdam (Cornelis Schuytbuurt),167.0,1870,3,2,2,yes,no,no,yes,no,Not present,D,Roof terrace,1071 HN,Cornelis Schuytbuurt,4500
1,1071 HK Amsterdam (Concertgebouwbuurt),150.0,1890,3,2,2,yes,no,yes,yes,no,Not present,A,"Cable TV, Internet connection, Fireplace, Bath...",1071 HK,Concertgebouwbuurt,3450
2,1071 HK Amsterdam (Concertgebouwbuurt),150.0,1890,3,2,2,yes,no,yes,yes,no,Not present,A,"Cable TV, Internet connection, Fireplace, Bath...",1071 HK,Concertgebouwbuurt,3450
3,1071 WV Amsterdam (Hondecoeterbuurt),90.0,1923,3,2,1,yes,no,no,yes,no,Not present,NaN,"Shower, Toilet",1071 WV,Hondecoeterbuurt,2000
4,1071 WV Amsterdam (Hondecoeterbuurt),104.0,1923,3,2,1,no,no,no,no,no,Present (47 m²),D,"Shower, Bath, Toilet",1071 WV,Hondecoeterbuurt,3250
5,1071 WV Amsterdam (Hondecoeterbuurt),90.0,1923,3,2,1,yes,no,no,yes,no,Not present,NaN,"Shower, Toilet",1071 WV,Hondecoeterbuurt,2000
6,1071 WV Amsterdam (Hondecoeterbuurt),104.0,1923,3,2,1,no,no,no,no,no,Present (47 m²),D,"Shower, Bath, Toilet",1071 WV,Hondecoeterbuurt,3250
7,1071 XL Amsterdam (Duivelseiland),67.0,1923,3,2,1,no,no,no,no,no,Not present,C,"Shower, Bath, Toilet",1071 XL,Duivelseiland,1950
8,1071 XL Amsterdam (Duivelseiland),67.0,1923,3,2,1,no,no,no,no,no,Not present,C,"Shower, Bath, Toilet",1071 XL,Duivelseiland,1850
9,1071 AC Amsterdam (P.C. Hooftbuurt),85.0,1900,2,1,1,no,no,yes,yes,no,Not present,NaN,"Bath, Toilet",1071 AC,P.C. Hooftbuurt,2650

# Data Preparation

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   address            1728 non-null   object
 1   area               1728 non-null   float64
 2   constraction_year  1728 non-null   int64
 3   rooms              1728 non-null   int64
 4   bedrooms           1728 non-null   int64
 5   bathrooms          1728 non-null   int64
 6   balcony            1728 non-null   object
 7   storage            1728 non-null   object
 8   parking            1728 non-null   object
 9   furnished          1728 non-null   object
 10  garage             1728 non-null   object
 11  garden             1728 non-null   object
 12  energy             1104 non-null   object
 13  facilities         1308 non-null   object
 14  zip                1728 non-null   object
 15  neighborhood       1728 non-null   object
 16  rent               1728 non-null   int64
dtypes: float64(1), int64(5), object(11)
memory usage: 229.6+ KB

In [4]:
data.isnull().sum()

address                0
area                   0
constraction_year      0
rooms                  0
bedrooms               0
bathrooms              0
balcony                0
storage                0
parking                0
furnished              0
garage                 0
garden                 0
energy               624
facilities           420
zip                    0
neighborhood           0
rent                   0
dtype: int64

In [5]:
data.describe(include= "all")

,address,area,constraction_year,rooms,bedrooms,bathrooms,balcony,storage,parking,furnished,garage,garden,energy,facilities,zip,neighborhood,rent
count,1728,1728.000000,1728.000000,1728.000000,1728.000000,1728.000000,1728,1728,1728,1728,1728,1728,1104,1308,1728,1728,1728.000000
unique,1059,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,44,12,111,1056,281,NaN
top,1082 CV Amsterdam (Buitenveldert Midden Zuid),NaN,NaN,NaN,NaN,NaN,no,no,no,yes,no,Not present,A,Toilet,1082 CV,Cornelis Schuytbuurt,NaN
freq,17,NaN,NaN,NaN,NaN,NaN,926,1461,1196,1242,1566,1668,306,232,17,30,NaN
mean,NaN,81.975125,1919.544560,2.836806,1.845486,1.123264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2028.318866
std,NaN,34.886841,129.945609,0.830784,0.816642,0.360744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,802.673468
min,NaN,2.016000,1005.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,505.000000
25%,NaN,58.000000,1900.000000,2.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1595.000000
50%,NaN,75.000000,1929.500000,3.000000,2.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1800.000000
75%,NaN,100.000000,1997.000000,3.000000,2.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2250.000000
max,NaN,280.000000,2020.000000,7.000000,6.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8800.000000

In [6]:
data.dropna()

,address,area,constraction_year,rooms,bedrooms,bathrooms,balcony,storage,parking,furnished,garage,garden,energy,facilities,zip,neighborhood,rent
0,1071 HN Amsterdam (Cornelis Schuytbuurt),167.0,1870,3,2,2,yes,no,no,yes,no,Not present,D,Roof terrace,1071 HN,Cornelis Schuytbuurt,4500
1,1071 HK Amsterdam (Concertgebouwbuurt),150.0,1890,3,2,2,yes,no,yes,yes,no,Not present,A,"Cable TV, Internet connection, Fireplace, Bath...",1071 HK,Concertgebouwbuurt,3450
2,1071 HK Amsterdam (Concertgebouwbuurt),150.0,1890,3,2,2,yes,no,yes,yes,no,Not present,A,"Cable TV, Internet connection, Fireplace, Bath...",1071 HK,Concertgebouwbuurt,3450
4,1071 WV Amsterdam (Hondecoeterbuurt),104.0,1923,3,2,1,no,no,no,no,no,Present (47 m²),D,"Shower, Bath, Toilet",1071 WV,Hondecoeterbuurt,3250
6,1071 WV Amsterdam (Hondecoeterbuurt),104.0,1923,3,2,1,no,no,no,no,no,Present (47 m²),D,"Shower, Bath, Toilet",1071 WV,Hondecoeterbuurt,3250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,1092 JR Amsterdam (Transvaalbuurt Oost),80.0,1905,3,2,1,no,no,no,yes,no,Not present,C,"Shower, Toilet",1092 JR,Transvaalbuurt Oost,1995
1717,1092 JR Amsterdam (Transvaalbuurt Oost),80.0,1905,3,2,1,no,no,no,yes,no,Not present,C,"Shower, Toilet",1092 JR,Transvaalbuurt Oost,1995
1718,1092 VH Amsterdam (Transvaalbuurt Oost),87.0,2015,3,2,1,yes,no,no,yes,no,Not present,A,"Lift, Shower, Bath",1092 VH,Transvaalbuurt Oost,1850
1724,1033 DZ Amsterdam (Terrasdorp),75.0,1990,3,2,1,yes,no,no,yes,no,Not present,C,Shower,1033 DZ,Terrasdorp,1500
1726,1021 EC Amsterdam (Vogelbuurt Zuid),118.0,1920,5,4,1,yes,yes,yes,yes,no,Not present,G,"Storage space, Shower, Toilet",1021 EC,Vogelbuurt Zuid,2650

In [7]:
data_encoded = pd.get_dummies(data , columns= ['balcony',	'storage'	, 'parking'	, 'furnished',	'garage'] , drop_first=True , prefix_sep="_")

In [8]:
data_encoded.sample(10)

,address,area,constraction_year,rooms,bedrooms,bathrooms,garden,energy,facilities,zip,neighborhood,rent,balcony_yes,storage_yes,parking_yes,furnished_yes,garage_yes
798,1054 XL Amsterdam (Cremerbuurt West),67.0,1900,2,1,1,Not present,NaN,Toilet,1054 XL,Cremerbuurt West,2150,False,False,True,True,False
565,1082 GM Amsterdam (Gelderlandpleinbuurt),194.0,1997,3,2,1,Not present,B,"Lift, Air-conditioning, Toilet",1082 GM,Gelderlandpleinbuurt,4400,False,False,True,False,True
901,1056 ET Amsterdam (Pieter van der Doesbuurt),87.0,1902,3,2,1,Not present,F,NaN,1056 ET,Pieter van der Doesbuurt,1995,False,False,True,False,False
1478,1055 DA Amsterdam (Erasmusparkbuurt West),55.0,1950,3,2,1,Not present,D,"Shower, Toilet",1055 DA,Erasmusparkbuurt West,1490,True,False,False,False,False
114,1017 GC Amsterdam (Spiegelbuurt),64.0,1906,2,1,1,Not present,G,Bath,1017 GC,Spiegelbuurt,1700,False,False,False,True,False
762,1012 AE Amsterdam (Kop Zeedijk),75.0,1890,3,2,1,Not present,NaN,Bath,1012 AE,Kop Zeedijk,2350,False,False,False,True,False
250,1016 HP Amsterdam (Felix Meritisbuurt),90.0,1900,3,2,1,Not present,NaN,NaN,1016 HP,Felix Meritisbuurt,3000,False,False,False,True,False
810,1054 DX Amsterdam (Cremerbuurt Oost),79.0,1901,2,1,1,Present (50 m²),F,"Shower, Toilet",1054 DX,Cremerbuurt Oost,2250,False,False,False,False,False
1436,1075 RR Amsterdam (Schinkelbuurt Zuid),56.0,1913,3,2,1,Not present,E,NaN,1075 RR,Schinkelbuurt Zuid,1900,True,False,False,True,False
433,1064 ED Amsterdam (Noordoever Sloterplas),78.0,1965,3,2,2,Not present,D,Bath,1064 ED,Noordoever Sloterplas,1600,True,False,False,True,False

In [9]:
data_encoded['garden'].unique()

array(['Not present', 'Present (47 m²)', 'Present (29 m²)',
       'Present (75 m²)', 'Present (40 m², located on the north)',
       'Present (50 m²)', 'Present (20 m², located on the south)',
       'Present (1 m²)', 'Present (15 m²)', 'Present (25 m²)',
       'Present (12 m²)', 'Present (45 m², located on the south)',
       'Present (26 m², located on the south-east)',
       'Present (20 m², located on the north-east)',
       'Present (42 m², located on the west)', 'Present (46 m²)',
       'Present (45 m², located on the south-west)',
       'Present (60 m², located on the south-west)',
       'Present (50 m², located on the south)',
       'Present (40 m², located on the north-east)', 'Present (16 m²)',
       'Present (60 m²)', 'Present (65 m², located on the south)',
       'Present (90 m²)', 'Present (85 m²)',
       'Present (85 m², located on the south-west)',
       'Present (500 m², located on the west)',
       'Present (45 m², located on the west)',
       'Present (12 m², located on the south)',
       'Present (30 m², located on the north-west)',
       'Present (60 m², located on the south-east)',
       'Present (49 m², located on the east)',
       'Present (51 m², located on the south-east)', 'Present (80 m²)',
       'Present (27 m²)', 'Present (56 m²)', 'Present (65 m²)',
       'Present (20 m²)', 'Present (9 m²)', 'Present (200 m²)',
       'Present (32 m²)', 'Present (45 m²)',
       'Present (100 m², located on the south)', 'Present (34 m²)'],
      dtype=object)

In [10]:
import re

In [11]:
data_encoded['garden'][3]

'Not present'

In [12]:
# here how we can deal with this case i need only to extract the number from the string

int(re.findall(r'\d+' , data_encoded['garden'][4])[0])

47

In [13]:
# for i in range(len(data_encoded)):
#     if data_encoded.garden[i]=='Not present':
#         data_encoded.garden[i]=0
#     else: data_encoded.garden[i] = int(re.findall(r'\d+', data_encoded.garden[i])[0])
    
# Alternative way of doing this
data_encoded['garden'] = data_encoded['garden'].apply(lambda x : 0 if  x == "Not present" else int(re.findall(r'\d+', x)[0]))

In [14]:
data_encoded

,address,area,constraction_year,rooms,bedrooms,bathrooms,garden,energy,facilities,zip,neighborhood,rent,balcony_yes,storage_yes,parking_yes,furnished_yes,garage_yes
0,1071 HN Amsterdam (Cornelis Schuytbuurt),167.0,1870,3,2,2,0,D,Roof terrace,1071 HN,Cornelis Schuytbuurt,4500,True,False,False,True,False
1,1071 HK Amsterdam (Concertgebouwbuurt),150.0,1890,3,2,2,0,A,"Cable TV, Internet connection, Fireplace, Bath...",1071 HK,Concertgebouwbuurt,3450,True,False,True,True,False
2,1071 HK Amsterdam (Concertgebouwbuurt),150.0,1890,3,2,2,0,A,"Cable TV, Internet connection, Fireplace, Bath...",1071 HK,Concertgebouwbuurt,3450,True,False,True,True,False
3,1071 WV Amsterdam (Hondecoeterbuurt),90.0,1923,3,2,1,0,NaN,"Shower, Toilet",1071 WV,Hondecoeterbuurt,2000,True,False,False,True,False
4,1071 WV Amsterdam (Hondecoeterbuurt),104.0,1923,3,2,1,47,D,"Shower, Bath, Toilet",1071 WV,Hondecoeterbuurt,3250,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1723,1033 DL Amsterdam (Terrasdorp),75.0,1990,3,2,1,0,C,NaN,1033 DL,Terrasdorp,1450,False,False,False,True,False
1724,1033 DZ Amsterdam (Terrasdorp),75.0,1990,3,2,1,0,C,Shower,1033 DZ,Terrasdorp,1500,True,False,False,True,False
1725,1021 NX Amsterdam (IJplein e.o.),74.0,1986,2,1,1,0,NaN,NaN,1021 NX,IJplein e.o.,1400,False,False,False,True,False
1726,1021 EC Amsterdam (Vogelbuurt Zuid),118.0,1920,5,4,1,0,G,"Storage space, Shower, Toilet",1021 EC,Vogelbuurt Zuid,2650,True,True,True,True,False
1727,1042 AL Amsterdam (Westhaven Noord),110.0,2019,5,4,2,0,NaN,"Internet connection, Air-conditioning, Storage...",1042 AL,Westhaven Noord,2600,False,True,False,True,False

In [15]:
from sklearn.preprocessing import LabelBinarizer
label_binarizer = LabelBinarizer()

#balcony_yes	storage_yes	parking_yes	furnished_yes	garage_yes

In [16]:
#data_encoded['balcony_yes'] = label_binarizer.fit_transform(data_encoded['balcony_yes'])
binarizer_col = data_encoded[['balcony_yes' , 'storage_yes' , 'parking_yes' , 'furnished_yes' , 'garage_yes']]
for col in binarizer_col:
    data_encoded[col] = label_binarizer.fit_transform(data_encoded[col])

In [17]:
data_encoded

,address,area,constraction_year,rooms,bedrooms,bathrooms,garden,energy,facilities,zip,neighborhood,rent,balcony_yes,storage_yes,parking_yes,furnished_yes,garage_yes
0,1071 HN Amsterdam (Cornelis Schuytbuurt),167.0,1870,3,2,2,0,D,Roof terrace,1071 HN,Cornelis Schuytbuurt,4500,1,0,0,1,0
1,1071 HK Amsterdam (Concertgebouwbuurt),150.0,1890,3,2,2,0,A,"Cable TV, Internet connection, Fireplace, Bath...",1071 HK,Concertgebouwbuurt,3450,1,0,1,1,0
2,1071 HK Amsterdam (Concertgebouwbuurt),150.0,1890,3,2,2,0,A,"Cable TV, Internet connection, Fireplace, Bath...",1071 HK,Concertgebouwbuurt,3450,1,0,1,1,0
3,1071 WV Amsterdam (Hondecoeterbuurt),90.0,1923,3,2,1,0,NaN,"Shower, Toilet",1071 WV,Hondecoeterbuurt,2000,1,0,0,1,0
4,1071 WV Amsterdam (Hondecoeterbuurt),104.0,1923,3,2,1,47,D,"Shower, Bath, Toilet",1071 WV,Hondecoeterbuurt,3250,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1723,1033 DL Amsterdam (Terrasdorp),75.0,1990,3,2,1,0,C,NaN,1033 DL,Terrasdorp,1450,0,0,0,1,0
1724,1033 DZ Amsterdam (Terrasdorp),75.0,1990,3,2,1,0,C,Shower,1033 DZ,Terrasdorp,1500,1,0,0,1,0
1725,1021 NX Amsterdam (IJplein e.o.),74.0,1986,2,1,1,0,NaN,NaN,1021 NX,IJplein e.o.,1400,0,0,0,1,0
1726,1021 EC Amsterdam (Vogelbuurt Zuid),118.0,1920,5,4,1,0,G,"Storage space, Shower, Toilet",1021 EC,Vogelbuurt Zuid,2650,1,1,1,1,0
1727,1042 AL Amsterdam (Westhaven Noord),110.0,2019,5,4,2,0,NaN,"Internet connection, Air-conditioning, Storage...",1042 AL,Westhaven Noord,2600,0,1,0,1,0

# Model

In [18]:
X = data_encoded[['area' , 'constraction_year' ,'bedrooms' ,'garden' ,'balcony_yes' , 'storage_yes' , 'parking_yes' , 'furnished_yes' , 'garage_yes']]

In [19]:
X

,area,constraction_year,bedrooms,garden,balcony_yes,storage_yes,parking_yes,furnished_yes,garage_yes
0,167.0,1870,2,0,1,0,0,1,0
1,150.0,1890,2,0,1,0,1,1,0
2,150.0,1890,2,0,1,0,1,1,0
3,90.0,1923,2,0,1,0,0,1,0
4,104.0,1923,2,47,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
1723,75.0,1990,2,0,0,0,0,1,0
1724,75.0,1990,2,0,1,0,0,1,0
1725,74.0,1986,1,0,0,0,0,1,0
1726,118.0,1920,4,0,1,1,1,1,0
1727,110.0,2019,4,0,0,1,0,1,0

In [20]:
y = data_encoded['rent']

## Spliting Data

In [21]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2 , random_state = 42)

## Building Random Forest Model

In [22]:
rf = RandomForestRegressor()

In [23]:
rf.fit(X_train , y_train)

RandomForestRegressor()

## Evaluating Model

In [24]:
rf.score(X_test , y_test)

0.7239152448453079

## Predicting price of an apartment

In [25]:
rf.predict([[150.0 , 1890 , 2 , 0 , 1 , 0 , 0 , 0, 1]])

array([4124.21666667])

## Tuning Hyperparameters

In [26]:
grid_param = {
    "n_estimators" : range(50 ,150 , 25),
    "criterion" : ['mse' , 'mae'], 
    "max_depth" : range(6 , 20)
}

In [27]:
grid = GridSearchCV(
    RandomForestRegressor() , 
    param_grid= grid_param ,
    cv = 5 , 
    n_jobs = -1
    )

In [28]:
model_grid = grid.fit(X_train , y_train)

/Users/0xnrous/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/Users/0xnrous/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/Users/0xnrous/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/Users/0xnrous/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/Users/0xnrous/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/Users/0xnrous/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/Users/0xnrous/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/Users/0xnrous/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/Users/0xnrous/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/Users/0xnrous/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [29]:
print(f'Best parameters : {model_grid.best_params_} , score = {model_grid.best_score_}')

Best parameters : {'criterion': 'mae', 'max_depth': 11, 'n_estimators': 100} , score = 0.7196465154460926

## Saving Model

In [33]:
with open('model/rf_model.pkl' , 'wb') as f:
    pkl.dump(model_grid , f)

In [34]:
# test the pkl model
rf_model = pkl.load(open("model/rf_model.pkl" , "rb"))

In [36]:
rf_model.predict([[150.0 , 3000 , 2 , 0 , 1 , 0 , 0 , 0, 1]])

array([4881.95])